.nav-bar {
    background-color: #FFFFFF;
    padding: 0.5rem 1rem;
}

.header-container {
    width: 100%;
}

.zuai-logo {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

.list-items {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    letter-spacing: 0.13px;
    line-height: 1.5;
    cursor: pointer;
    text-decoration: none solid rgb(28, 142, 168);
}

@media screen and (min-width: 720px) {
    .zuai-logo {
        height: 52px;
        width: 215px;
    }
    .list-items {
        font-size: 15px;
    }
}

@media screen and (max-width: 720px) {
    .zuai-logo {
        height: 26px;
        width: 105px;
    }
    .list-items {
        font-size: 14px;
    }
}
